<%= content_for :javascripts do%>
  <%= stylesheet_link_tag    'adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    设备
    <small>所有设备</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
    <li class="active">设备</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
          <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-6"></div>
              <div class="col-sm-6"></div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                  <thead>
                    <tr role="row">
                      <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending">ID</th>
                      <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">标签</th>
                      <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">设备号</th>
                      <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">微信版本</th>
                      <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">最后活跃时间</th>
                      <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">微信号</th>
                      <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">状态</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @datas.each do |data|%>
                    <tr role="row" class="odd">
                      <td class="sorting_1"><%= data.id%></td>
                      <td class=""><%= data.name%></td>
                      <td class=""><%= data.unique_id%></td>
                      <td class="sorting_1"><%= data.client_version%></td>
                      <td>2018-01-01 12:25:12</td>
                      <td><%= data.wx_account%></td>
                      <td>正常</td>
                    </tr>
                    <% end %>
                  </tbody>
                  
                </table>
              </div>
            </div>
            <%= chaos_paginate @datas%>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>